<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cassandra="http://www.springframework.org/schema/data/cassandra"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/data/cassandra http://www.springframework.org/schema/data/cassandra/spring-cassandra-1.5.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:annotation-config />

<context:component-scan base-package="com.reporting"></context:component-scan>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/adwords?createDatabaseIfNotExist=true" />
		<property name="username" value="root" />
		<property name="password" value="password" />
		<!-- <property name="url" value="jdbc:mysql://c3d89a9da92dc54bace58a0c3df729e166ef7cd6.rackspaceclouddb.com/arindamtest" 
			/> <property name="username" value="arindam" /> <property name="password" 
			value="dig$dev" /> -->
	</bean>


	<bean id="CassandraCredentials" class="com.reporting.bean.CassandraCredentials">
		<constructor-arg type="String" value="127.0.0.1" />
		<constructor-arg type="String" value="9042" />
		<constructor-arg type="String" value="diginius_data" />
		<!-- <constructor-arg type="String" value="10.181.160.136" /> -->
		<!-- <constructor-arg type="String" value="35.176.61.18" /> <constructor-arg 
			type="String" value="development_data" /> -->


	</bean>

	<bean id="daoCassendra" class="com.reporting.daoImpl.CassandraCRUDImpl">
		<constructor-arg ref="CassandraCredentials"></constructor-arg>
	</bean>


	<bean id="dao" class="com.reporting.daoImpl.AllClientInforNeededDaoImpl">
		<constructor-arg ref="dataSource"></constructor-arg>
	</bean>

	<bean id="envBean" class="com.reporting.Enviornment.EnvironmentClass"></bean>
</beans>
